.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.players {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.player-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.player-icon {
    font-size: 4rem;
}
.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player-points {
    display: flex;
    align-items: end;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin: 0;
    padding-bottom: 1rem;
}

.invisibility {
    visibility: hidden;
}

.card {
    text-align: center;
    height: 8rem;
    width: 6rem;
    background-color: gray;
}
.card:hover {
    cursor: pointer;
}
.card p {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
.card .visible {
    opacity: 1;
}