.panel {
    flex-direction: column;
    margin-bottom: 2rem;
}

.players {
    justify-content: space-around;
}
.player-container {
    flex-direction: column;
    width: 20%;
}
.player-name-container {
    color: var(--white);
    justify-content: space-between;
    border-radius: 1rem;
    padding: .5rem;
}
.player-points {
    font-size: 2.8rem;
}
.player-icon {
    font-size: 2.8rem;
}
@media(max-width: 480px) {
    .player-points {
        font-size: 2rem;
    }
    .player-name {
        font-size: 1.6rem;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}
.card {
    height: 7.5rem;
    background-color: var(--gray-background-light);
}
.card:hover {
    cursor: pointer;
}
.card p {
    font-size: 3.4rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.card .visible {
    opacity: 1;
}
@media(max-width: 768px) {
    .card {
        height: 5rem;
    }
    .card p {
        font-size: 3rem;
    }
}