button {
    font-family: var(--font);
    font-size: 2.4rem;
    color: var(--white);
    background-color: var(--copper);
    width: 16rem;
    height: 8rem;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
    border: none;
}
button:hover {
    background-color: var(--light-copper);
    cursor: pointer;
}
@media(max-width: 480px) {
    button {
        font-size: 2rem;
        padding: 1rem;
    }
}