button {
    font-family: var(--font);
    font-size: 2.8rem;
    color: var(--white);
    background-color: var(--copper);
    width: 16rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    border: none;
}
button:hover {
    background-color: var(--light-copper);
    cursor: pointer;
}