.results-container {
  display: flex;
  justify-content: left;
}

.name {
  width: 8rem;
  text-align: left;
}

.points-indicator {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 .1rem;
}
/*Disminuimos el ancho de las barritas de los puntajes finales en pantallas de móvil*/
@media(max-width: 480px) {
    .points-indicator {
      width: 2rem;
    }
}