html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
}

dialog {
  display: hidden;
  text-align: center;
  padding: 3rem;
  border-radius: 1rem;
}

table {
  width: 100%;
  border-spacing: 1rem;
}

form {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: beige;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.6rem;
}
p {
  font-size: 2rem; 
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
input {
  width: auto;
  margin-left: 1rem;
}

span {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.bg-blue {
  background-color: #3b82f6 !important;
}
.color-blue {
  color: #3b82f6 !important;
}

.bg-red {
  background-color: #ef4444 !important;
}
.color-red {
  color: #ef4444 !important;
}

.bg-green {
  background-color: #10b981 !important;
}
.color-green {
  color: #10b981 !important;
}

.bg-orange {
  background-color: #f59e0b !important;
}
.color-orange {
  color: #f59e0b !important;
}